@model LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}
<h1>Login</h1>
<hr />
<div class="col-md-8">
    <form method="post" asp-action="Login">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                
                <input type="text" class="form-control" id="floatingInput" asp-for="Username" placeholder="Username" asp-validation-for="Username">
                <label for="floatingInput">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                
                <input type="password" class="form-control" id="floatingInput" asp-for="Password" placeholder="Password" asp-validation-for="Password">
                <label for="floatingPassword">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3 form-group">
                <label>
                    <input type="checkbox" asp-for="StayLoggedIn" />
                    Stay Logged In.
                </label>
                
            </div>
            
            <div class="mb-3 form-group">
                <button class="btn btn-outline-success">Submit</button>
            </div>
            <div class="form-text">
                Don't have an account? Click <a asp-controller="Register" asp-action="Register">here</a>
            </div>
        </form>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
