@model LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "LoginLayout";
}
<h1>Login</h1>
<hr />
<div class="col-md-4">
    <form method="post" asp-action="Login">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-group">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" asp-for="Username" asp-validation-for="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" asp-for="Password" asp-validation-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <button class="btn btn-outline-success">Submit</button>
            </div>
            <div class="form-text">
                Don't have an account? Click <a asp-controller="Register" asp-action="Register">here</a>
            </div>
        </form>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
