@model LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.BorrowingRecordsDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BorrowingRecordsDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BorrowingRecordsId" class="control-label"></label>
                <select asp-for="BorrowingRecordsId" class ="form-control" asp-items="ViewBag.BorrowingRecordsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
